
html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #FFEFD5;
    color: #99775C;
  }
  * { 
    color:#99775C;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    Background-color: #F5DEB3; 
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }
  
  .ouverture {
    width: 150px;
    margin-right: 10px;
  }
  table { 
      margin-top: 5px;
  }
  h1 {
    margin: 0;
    flex: 1;
  }
  
  .center-horizontal {
    width: 45%;
    height: auto;
    margin: 0 5%;
  }
  
  .ouverture {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  
  .ouverture img {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ops {
    margin-left: auto;
  }
  .ops a {
    margin-left: 10px;
    margin-right: 10px; 
  }
  table, th, td {
    border: solid 1px black;
  }
  table {
    width: 500px;
    height: auto;
    border-collapse: collapse;
  }
  section {
    margin: 5px;
  }
  p {
    max-width: 1500px;
    margin-right: 50px;
  }
  .fleur {
    display: inline-flex;
  }
h2 { 
    margin-top: 10px; 
}
 :root {
    --footer-background: #F5DEB3;
    --text-color: #99775C;
    --text-gray: #FAFBFC;
    --text-heading-gray: #FAFBFC;
    --text-primary: #99775C;
    --button-color: #404652;
    --button-border: #6B707C;
}

/*? footer reset */
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*? footer containers */

footer {
    position: relative;
    bottom: 0px;
    background-color: var(--footer-background);
    min-width: 300px;
    width: 100vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 1320px;
    padding: 16px;
}


/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 16px 0px;
    justify-content: space-between;
}

.footer-line {
    display: block;
    width: 100%;
    height: 8px;
}

/*? footer subscribe */
.footer-subscribe {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.footer-subscribe > input {
    border: 1px solid var(--button-border);
    color: var(--text-color);
    outline: none;
    min-height: 36px;
    background-color: var(--footer-background);
    font-size: 1.2rem;
    flex: 1 0 120px;
    padding: 8px 12px;
    border-radius: 8px;
}

.footer-subscribe > input::placeholder {
    color: var(--text-color);
}

.footer-subscribe > button {
    cursor: pointer;
    background-color: var(--button-color);
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    min-width: 120px;
    min-height: 36px;
    flex: 1 0 80px;
    white-space: nowrap;
    padding: 8px 12px;
    border: 0px;
    outline: none;
    border: 1px solid var(--button-border);
}

/*? footer columns */
.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 140px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-columns ul a:hover{
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 16px;
}

.footer-columns h3 {
    color: var(--text-primary);
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.125rem;
}

.footer-centering {
    margin: 0 auto;
}

.footer-columns > section {
    min-width: 150px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 16px;
    color: var(--text-color);
    margin-bottom: 60px;
}

.footer-logo svg {
    stroke: var(--text-color);
    stroke-width: 8px;
    width: 50px;
    height: 50px;
}

.porte { 
  color:#99775C;
}
/*? Footer bottom */

.footer-bottom {
    text-align: center;
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--text-gray);
}

.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
}

.footer-headline > h3 {
  margin: 0px;
  color: var(--text-primary);
  font-size: 1.5em
}

.footer-headline > p {
    color:#99775C;
    margin: 4px 0px 20px 0px;
}

.footer-line {
    display: block;
    min-width: 40px;
    height: 2px;
    background-color: var(--text-gray);
}

/*? socials */

.social-links {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.social-links ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
}
